<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-4 mx-auto">
      <%= render "layouts/sidebar" %>
    </div>

    <div class="col-10 col-md-8 mx-auto">
      <div class="row">
        <h4 class="pt-4 pb-1 pl-3">新着投稿一覧</h4>
      </div>

      <%= render "public/posts/posts_index", posts: @posts %>

      <div class="row">
        <div class="mx-auto">
          <p><%= paginate @posts %></p>
        </div>
      </div>

    </div>
  </div>
</div>