<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <%= render "layouts/sidebar" %>
    </div>

    <div class="col-md-8 mx-auto">
      <div class="row">
        <h5 class="py-4">新着投稿一覧</h5>
      </div>

      <%= render "public/posts/posts_index", posts: @posts %>

      <div class="row">
        <p><%= paginate @posts %></p>
      </div>

    </div>
  </div>
</div>