<div class="container">
  <div class="row">
    <h5>作品詳細</h5>
  </div>

    <% if @category == "movie" %>
      <%= render "movie_detail", movie: @movie %>
    <% else %>
      <%= render "tv_detail", tv: @tv %>
    <% end %>

</div>
