<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-4 mx-auto">
      <%= render "layouts/sidebar" %>
    </div>

    <div class="col-10 col-md-8 mx-auto">
      <% if @category == "movie" %>
        <%= render "movie_results", movies: @movies, content: @content %>
      <% else %>
        <%= render "tv_results", tvs: @tvs, content: @content %>
      <% end %>
    </div>
  </div>
</div>