<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-4 mx-auto">
      <%= render "layouts/sidebar" %>
    </div>

    <div class="col-10 col-md-8 mx-auto">
      <div class="row">
        <h5 class="py-4">検索結果（<%= @posts.count %>件）</h5>
      </div>

      <%= render "public/posts/posts_index", posts: @posts %>

      <div class="row">
        <p><%= paginate @posts %></p>
      </div>

    </div>
  </div>
</div>