<% if flash[:notice] %>
  <div class="container">
    <div class="row">
      <div class="col-8 mx-auto alert alert-dark text-center">
        <text id="notice">
          <%= flash[:notice] %>
        </text>
      </div>
    </div>
  </div>
<% end %>